@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  .feature-container {
    display: flex;
    flex-flow: column nowrap;
    width: 92%;
  }
  .header-bar {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 25%;
  }
  .search-container {
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    height: 70px;
    width: 50%;
  }

  .search-bar {
    display: flex;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    height: 45px;
    width: 100%;
  }

  .search-bar-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 38px;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 100%;
  }
  .feature-info {
    display: flex;
    align-self: flex-start;
    text-transform: capitalize;
    align-items: center;
    padding: 0px 20px;
    height: 20px;
    justify-content: space-between;
    width: 28%;
  }
  .movie-showcase {
    display: flex;
    flex-flow: column nowrap;
    height: 40%;
    width: 55%;
  }
  .movie-title {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    display: flex;
    letter-spacing: -0.04em;
    flex-flow: row nowrap;
    line-clamp: inherit;
    margin: 0px;
    padding: 0px;
    align-items: center;
    height: 50%;
  }
  .movie-subtitle {
    display: flex;
    text-transform: capitalize;
    font-size: 20px;
    justify-content: flex-start;
    align-items: center;
    height: 25%;
  }
  .movie-buttons {
    display: flex;
    align-items: center;
    height: 25%;
  }
  .movie-buttons > button {
    display: flex;
    background-color: transparent;
    border: 1px solid white;
    justify-content: space-evenly;
    font-size: 10px;
    border-radius: 40px;
    margin-right: 10px;
    align-items: center;
    width: 110px;
    height: 40px;
  }
  .footer-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 35%;
    width: 100%;
  }
  .movie-choices-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 55%;
  }
  .add-favorites-container {
    display: flex;
    transform: translateY(50px);
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 30%;
  }
  .add-favorites-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 50%;
  }
  .button-style {
    display: flex;
    background-color: rgba(120, 120, 120, 0.7);
    border: 2px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    width: 35px;
    height: 35px;
    align-items: center;
    font-size: 20px;
    justify-content: center;
    border-radius: 100%;
  }
}
